.App {
  text-align: center;
  text-decoration: mintcream;
}

body{
  color: white;
  background: linear-gradient(170deg,rgba(169, 144, 93, 1) 15%, rgb(247, 116, 83));
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

/* Modal  */
.modal-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-button {
  min-width: 100px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background: #141414;
  color: #fff;
  font-size: 24px;
  cursor: pointer
}

/* Watchlist */
.watchlist-title {
  padding-bottom: 4vh;
  /* background: linear-gradient(yellow, blue) */
}

.watchlist-nav-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content:space-evenly;
  padding-left: 4vw;
  padding-right: 20vw;
  /* background: linear-gradient(45deg, sandybrown 50%, blue); */
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* height: 43px; */
}

.test {
  padding: 20px;
  margin: 20px;
}

.watchlist-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  gap: 10px 20px;
  border-top: 4px solid rgb(255, 247, 211);
  color: white;
  margin: 0
}

.watchlist-ul li {
  border: black;
}

.each-stock {
  padding: 20px 50px;
}

.watchlist-container li {
  width: 25%;
  height: 42px;
}

.watchlist-delete {
border-radius: 6px;
background: linear-gradient(100deg,red 5%, orange);
color: rgba(90, 10, 71, 0.884);
}

.watchlist-edit {
border-radius: 6px;
background: linear-gradient(100deg, rgba(10, 47, 129, 0.822) 5%, orange)
}

/* Create form */
.create-form::before {
  position: absolute;
  content: "$";
  padding-left: 4px;

}

.create-form input {
  padding-left: 15px;
}

.create-form-percentage::after {
  position: absolute;
  content: "%"
}

/* Stocks */
.stock-ul {
  list-style-type: none;
  padding-bottom: 8vh;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
